.mainPage-content {
    &__leftside {
        padding: 15px 25px 0 50px;
        display: flex;
        justify-content: space-between;
    }
    &__middleside {
        position: relative;
        &_top {
            height: 100%;
            position: relative;
            padding: 0 0 0 35px;
        }
        .middleside-top-title {
            transform: rotate(270deg);
            position: absolute;
            left: -70px;
            top: 105px;
            font-size: 30px;
            text-transform: uppercase;
        }
    }
}

.mainpage-categories-wrapper {
    width: 57%;
}

.mainpage-categories-wrapper__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links-content__category {
    width: 310px;
    min-height: 105px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: -8px -8px 12px 0 rgba(255, 255, 255, 1), 12px 12px 16px 0 rgba(210, 218, 230, 1);
    background: #ecf0f3;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 1280px) {
    .links-content__category {
        width: 240px;
    }
}

@media screen and (max-width: 970px) {
    .mainpage-categories-wrapper {
        width: 41%;
    }

    .links-content__category {
        width: 270px;
    }

    .mainPage-content {
        flex-direction: column;
        align-items: center;
        max-height: none;
    }

    .mainPage-content__leftside {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px 0 50px;
    }

    .mainPage-content__middleside {
        width: 100%;
        height: 100%;
        &_top {
            padding-right: 0;
        }
    }
}

@media screen and (max-width: 760px) {
    .mainpage-categories-wrapper {
        width: 100%;
        &__items {
            display: flex;
            flex-direction: column;
        }
    }

    .mainPage-content__leftside {
        flex-direction: column;
    }

    .links-content__category {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .links-content__category {
        min-height: 130px;
    }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    // .links-content__category {
    //     min-height: 95px;
    // }
}

.middleside-bottom-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 22px;
}

.allCategories-button {
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    color: rgb(155, 155, 155);
    transition: 0.5s;
    &:hover {
        color: #000;
    }
}

.section__wrapper {
    width: 100%;
    min-height: 120px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: -8px -8px 12px 0 rgba(255, 255, 255, 1), 12px 12px 16px 0 rgba(210, 218, 230, 1);
    background: #ecf0f3;
    .section__leftside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        &_name {
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 5px;
            font-size: 20px;
        }
        &_link {
            max-width: 100%;
            overflow: hidden;
            margin-bottom: 5px;
            color: rgb(255, 168, 29);
            font-size: 16px;
            font-weight: 500;
        }
    }
    .section__rightside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        &_category {
            text-transform: uppercase;
            font-weight: bold;
            color: rgb(155, 155, 155);
        }
        &_top {
            display: flex;
            align-items: center;
        }
        &_bottom {
            .edit-section-icon,
            .delete-section-icon {
                color: #bbb;
                font-size: 16px;
                transition: 0.5s;
                &:hover {
                    color: #000;
                    cursor: pointer;
                }
            }
            .delete-section-icon {
                margin: 0 0 0 15px;
            }
        }
        &_circle {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            margin-left: 10px;
            background: rgba(207, 127, 22, 0.5);
            transition: 0.5s;
            &:hover {
                background: rgba(207, 127, 22, 0.8);
            }
        }
    }
}

.resource__item_wrapper {
    width: 100%;
    position: relative;
}

.changeModal {
    position: absolute;
    right: 60px;
    top: -10px;
    min-width: 150px;
    min-height: 50px;
    padding: 8px 10px;
    background: #ecf0f3;
    border-radius: 8px;
    z-index: 999;
    -webkit-box-shadow: 0px 6px 15px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 6px 15px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 6px 15px 2px rgba(34, 60, 80, 0.2);
    p {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: 600;
        span {
            text-transform: none;
            font-weight: 400;
        }
    }
}

.links-content__category_name {
    // TODO: Сделать миксин для шрифтов, разны миксины для заголовков, категорий и т.д.
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

.countOfResources {
    font-weight: 500;
    font-size: 26px;
    margin-left: 5px;
    // font-family: 'Press Start 2P', cursive; Битный шрифт.
    // font-family: 'Libre Barcode 39', cursive; Баркодный шрифт.
    &-text {
        text-transform: uppercase;
        font-size: 18px;        
    }
}

.category-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 280px;
}

.nameOfCategory {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.category-resourcesCount {
    position: absolute;
    bottom: -7px;
    right: -7px;
    font-size: 70px;
    color: rgba(187, 187, 187, 0.7);
}