.libaModal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(82, 82, 82, 0.5);
    overflow-y: hidden;
}

.libaModal-wrapper {
    width: 400px;
    min-height: 300px;
    position: absolute;
    top: 200px;
    left: calc(50% - 200px);
    background: #ecf0f3;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.libaModal__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
}

.libaModal__header_title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
}

.libaModal__header_closeButton {
    cursor: pointer;
    color: rgb(155, 155, 155);
    font-size: 20px;
    transition: 0.5s;
    &:hover {
        color: #000;
    }
}

.libaModal__content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
}

.libaModal__footer {
    display: flex;
}

.libaModal__footer_button {
    background: transparent;
    width: 100%;
    height: 50px;
    color: rgb(133, 133, 133);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
    &:hover {
        color: #000;
    }
}

.editModal__content{
    &_input {
        font-size: 22px;
        margin-bottom: 30px;
        border-bottom: 2px solid rgb(187, 187, 187);
        background: transparent;
        transition: 0.5s;
        &:hover,
        &:focus {
            border-bottom: 2px solid #000;
        }
    }
    &_text {
        font-size: 20px;
    }
    &_label {
        font-size: 22px;
        color: rgb(133, 133, 133);
    }
}

.addResource__content_wrapper {
    display: flex;
    flex-direction: column;
}