.libaModal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(82, 82, 82, 0.5);
    overflow-y: hidden;
    z-index: 999;
}

.libaModal-wrapper {
    width: 400px;
    min-height: 300px;
    position: absolute;
    top: 200px;
    left: calc(50% - 200px);
    background: #ecf0f3;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.libaModal__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
}

.libaModal__header_title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
}

.libaModal__header_closeButton {
    cursor: pointer;
    color: rgb(155, 155, 155);
    font-size: 20px;
    transition: 0.5s;
    &:hover {
        color: #000;
    }
}

.libaModal__content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
}

.libaModal__footer {
    display: flex;
}

.libaModal__footer-wrapper {
    position: relative;
}

.libaModal__footer_button {
    background: transparent;
    width: 100%;
    height: 50px;
    color: rgb(133, 133, 133);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
    &:hover {
        color: #000;
    }
}

.disabled-create {
    color: rgb(133, 133, 133) !important;
    transition: 0.5s;
}

.formErrorNotification {
    position: absolute;
    width: 200px;
    height: 100px;
    background: #ecf0f3;
    -webkit-box-shadow: 4px 10px 24px 0px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 4px 10px 24px 0px rgba(34, 60, 80, 0.3);
    box-shadow: 4px 10px 24px 0px rgba(34, 60, 80, 0.3);
    border-radius: 20px;
    left: 120px;
    top: -105px;
    padding: 10px;
    z-index: 999;
    font-size: 20px;
    font-weight: 500;
    &:after {
        top: 100%;
        left: 25%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 151, 167, 0);
        border-top-color: #ecf0f3;
        border-width: 16px;
        margin-left: -16px;
    }
}

.editModal__content{
    &_input {
        font-size: 22px;
        margin-bottom: 30px;
        border-bottom: 2px solid rgb(187, 187, 187);
        background: transparent;
        transition: 0.5s;
        &:hover,
        &:focus {
            border-bottom: 2px solid #000;
        }
    }
    &_text {
        font-size: 20px;
    }
    &_label {
        font-size: 22px;
        color: rgb(133, 133, 133);
        text-transform: uppercase;
    }
}

.addResource__content_wrapper {
    display: flex;
    flex-direction: column;
}