.pagination-wrapper {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.pagination {
    display: flex;
}

.page-link,
.prev-page,
.next-page {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    box-shadow: -8px -8px 12px 0 white, 12px 12px 16px 0 #d2dae6;
    background: #ecf0f3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 20px;
    transition: 0.5s;
}

.current-page {
    color: rgb(255, 123, 0);
}

.prev-page,
.next-page {
    color: rgb(170, 170, 170);
    &:hover {
        color: #000;
    }
}