.header {
    height: 30px;
    position: relative;
    &__wrapper {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 15px;
    }
    &__leftside {
        display: flex;
        &_menu-icon {
            color: #bbb;
            transition: 0.5s;
            font-size: 22px;
            &:hover {
                color: #000;
                cursor: pointer;
            }
        }
        .logo {
            font-size: 22px;
            margin: 0 0 0 15px;
            font-weight: 700;
        }
    }
}