.header {
    height: 40px;
    position: relative;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        padding: 0 25px 0 15px;
    }
    &__leftside {
        display: flex;
        &_menu-icon {
            color: #bbb;
            transition: 0.5s;
            font-size: 22px;
            &:hover {
                color: #000;
                cursor: pointer;
            }
        }
        .logo {
            font-size: 22px;
            margin: 0 0 0 15px;
            font-weight: 700;
        }
    }
    &__rightside {
        .userIcon,
        .logoutIcon {
            cursor: pointer;
            color: #bbb;
            font-size: 24px;
            transition: 0.5s;
            &:hover {
                color: #000;
            }
        }
    }
}

.darkOverlay {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background: rgba(40, 40, 40, 0.5);
    z-index: 998;
}

.authHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    button {
        font-size: 28px;
        margin: 0 15px;
        color: #bbb;
        transition: 0.5s;
        &:hover {
            color: #000;
        }
    }
    p {
        font-size: 24px;
        color: #bbb;
    }
}

.activeButton {
    color: #000 !important;
}

.authModal {
    width: 600px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    position: absolute;
    z-index: 999;
    top: 150px;
    left: calc(50% - 300px);
}

.authBodyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
    input {
        width: 550px;
        margin: 25px 0;
    }
}