.action-info-wrapper {
    display: flex;
}

.allResources__wrapper {
    width: 100%;
    padding: 15px 25px 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    position: relative;
}

@media screen and (max-width: 970px) {
    .allResources__wrapper {
        padding-right: 30px;
        overflow: visible;
    }
}

@media screen and (max-width: 760px) {
    .allResources__wrapper {
        padding-right: 20px;
    }
}

.allResources__wrapper-mainPage {
    width: 100%;
    height: 90%;
    min-height: 720px;
    padding: 15px 25px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    position: relative;
}

.allResources__actions_wrapper {
    padding: 15px 10px 15px 25px;
}

.addResourse__wrapper {
    display: flex;
    flex-direction: column;
    &_title {
        text-transform: uppercase;
        font-size: 26px;
        text-align: center;
        margin-bottom: 17px;
        font-weight: 600;
    }
}

.resourceLinkError {
    font-size: 18px;
    color: rgb(153, 0, 0);
    text-transform: uppercase;
    font-weight: 500;
}

.resources__search_wrapper {
    padding: 0 25px;
    position: relative;
    margin-top: 15px;
    &:hover .search-icon{
        color: #000;
    }
}

.resources__search {
    margin: 0 0 5px 0;
    width: 100%;
    padding: 5px 40px 5px 20px;
    border-radius: 20px;
    box-shadow: -8px -8px 12px 0 white, 12px 12px 16px 0 #d2dae6;
    background: #ecf0f3;
    font-size: 22px;
}

.search-icon {
    position: absolute;
    top: 12px;
    right: 40px;
    color: #bbb;
    font-size: 16px;
    transition: 0.5s;
}

.search-clear {
    position: absolute;
    top: 12px;
    right: 70px;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
}

.categoryNameTitle {
    transform: rotate(270deg);
    position: absolute;
    left: calc(50% - 680px);
    top: 95px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.sort {
    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        overflow-y: auto;
    }
    &__title {
        text-transform: uppercase;
        font-size: 26px;
        margin-bottom: 10px;
    }
    &__item {
        text-transform: uppercase;
        color: #bbb;
        background: transparent;
        transition: 0.5s;
        font-size: 22px;
        margin-bottom: 5px;
        &.active {
            color: #000;
        }
        &:hover {
            color: #000;
        }
    }
}