.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    &__text {
        font-size: 20px;
        &_name {
            font-family: 'Libre Barcode 39', cursive;
        }
    }
}