.allResources__actions_wrapper {
    padding: 15px;
}

.addResourse__wrapper {
    display: flex;
    flex-direction: column;
}

.resources__search_wrapper {
    padding: 0 15px;
    position: relative;
    margin-top: 15px;
    &:hover .search-icon{
        color: #000;
    }
}

.resources__search {
    margin: 0 0 5px 0;
    width: 100%;
    padding: 5px 40px 5px 20px;
    border-radius: 20px;
    box-shadow: -8px -8px 12px 0 white, 12px 12px 16px 0 #d2dae6;
    background: #ecf0f3;
    font-size: 22px;
}

.search-icon {
    position: absolute;
    top: 12px;
    right: 30px;
    color: #bbb;
    font-size: 16px;
    transition: 0.5s;
}