.mainPage-content {
    display: flex;
    max-height: calc(100vh - 66px);
    overflow: hidden;
    &__leftside {
        width: 25%;
        padding: 15px 15px 0 15px;
    }
    &__middleside {
        width: 75%;
        height: calc(100vh - 30px);
        position: relative;
        &_top {
            height: 100%;
            overflow-y: scroll;
            position: relative;
            padding: 0 35px;
        }
        .middleside-top-title {
            transform: rotate(270deg);
            position: absolute;
            left: -70px;
            top: 105px;
            font-size: 30px;
            text-transform: uppercase;
        }
    }
}

.links-content__category {
    width: 100%;
    min-width: 270px;
    min-height: 105px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: -8px -8px 12px 0 rgba(255, 255, 255, 1), 12px 12px 16px 0 rgba(210, 218, 230, 1);
    background: #ecf0f3;
}

.middleside-bottom-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 22px;
}

.allCategories-button {
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    color: rgb(155, 155, 155);
    transition: 0.5s;
    &:hover {
        color: #000;
    }
}

.section__wrapper {
    width: 100%;
    min-height: 120px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: -8px -8px 12px 0 rgba(255, 255, 255, 1), 12px 12px 16px 0 rgba(210, 218, 230, 1);
    background: #ecf0f3;
    .section__leftside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        &_name {
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 5px;
            font-size: 20px;
        }
        &_link {
            max-width: 100%;
            overflow: hidden;
            margin-bottom: 5px;
            color: rgb(255, 168, 29);
            font-size: 16px;
            font-weight: 500;
        }
    }
    .section__rightside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        &_category {
            text-transform: uppercase;
            font-weight: bold;
            color: rgb(155, 155, 155);
        }
        &_bottom {
            .edit-section-icon,
            .delete-section-icon {
                color: #bbb;
                font-size: 16px;
                transition: 0.5s;
                &:hover {
                    color: #000;
                    cursor: pointer;
                }
            }
            .edit-section-icon {

            }
            .delete-section-icon {
                margin: 0 0 0 15px;
            }
        }
    }
}

.links-content__category_name {
    // TODO: Сделать миксин для шрифтов, разны миксины для заголовков, категорий и т.д.
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

.countOfResources {
    font-weight: 500;
    font-size: 26px;
    margin-left: 5px;
    // font-family: 'Press Start 2P', cursive; Битный шрифт.
    // font-family: 'Libre Barcode 39', cursive; Баркодный шрифт.
    &-text {
        text-transform: uppercase;
        font-size: 18px;        
    }
}

.category-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: 280px;
}

.nameOfCategory {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}