.mainPage-content {
    // width: 100%;
    display: flex;
    &__leftside {
        width: 25%;
        padding: 15px 15px 0 15px;
    }
    &__middleside {
        width: 75%;
        height: calc(100vh - 30px);
        position: relative;
        &_top {
            height: 50%;
            overflow-y: scroll;
            position: relative;
            padding: 0 35px;
        }
        &_bottom {
            max-height: 42%;
            padding: 0 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            overflow-y: auto;
            padding-top: 15px;
            .links-wrapper {
                width: 31%;
                max-height: 120px;
                margin-bottom: 20px;
                .links-content {
                    width: 100%;
                    height: 100px;
                    padding: 15px;
                    box-shadow: -8px -8px 12px 0 rgba(255, 255, 255, 1), 12px 12px 16px 0 rgba(210, 218, 230, 1);
                    background: #ecf0f3;
                    min-height: 120px;
                    border-radius: 20px;
                }
            }
        }
        .devider {
            width: 100%;
            height: 2px;
            background: rgb(187, 187, 187);
            margin: 30px 0 15px 0;
        }
        .middleside-top-title {
            transform: rotate(270deg);
            position: absolute;
            left: -70px;
            top: 105px;
            font-size: 30px;
            text-transform: uppercase;
        }
        .middleside-bottom-title {
            transform: rotate(270deg);
            position: absolute;
            left: -67px;
            top: 105px;
            font-size: 30px;
            text-transform: uppercase;
        }
    }
    // &__rightside {
    //     width: 25%;
    //     // background: #000;
    // }
}

.action-info-wrapper {
    display: flex;
}

.allResources__wrapper {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__wrapper {
    width: 100%;
    min-height: 120px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: -8px -8px 12px 0 rgba(255, 255, 255, 1), 12px 12px 16px 0 rgba(210, 218, 230, 1);
    background: #ecf0f3;
    .section__leftside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        &_name {
            // Сделать миксин для шрифтов, разны миксины для заголовков, категорий и т.д.
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 5px;
            font-size: 20px;
        }
        &_link {
            max-width: 100%;
            overflow: hidden;
            margin-bottom: 5px;
            color: rgb(255, 168, 29);
            font-size: 16px;
            font-weight: 500;
        }
    }
    .section__rightside {
        &_category {
            text-transform: uppercase;
            font-weight: bold;
            color: rgb(155, 155, 155);
        }
    }
}

.links-content__category_name {
    // Сделать миксин для шрифтов, разны миксины для заголовков, категорий и т.д.
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
}

.countOfResources {
    font-weight: 500;
    font-size: 200px;
    transform: rotate(270deg);
    margin: 25px 0 0 -35px;
    font-family: 'Rubik', sans-serif;
    // font-family: 'Press Start 2P', cursive; Битный шрифт.
    // font-family: 'Libre Barcode 39', cursive; Баркодный шрифт.
}